/* time:2013.9.11 */

/* 表格操作列 */
.company_operate{
	height:12px;
	width:72px;
	position:relative;
	left:50%;
	margin-left:-36px;
}
.ie7 .company_operate{
	position:static;
	margin-left:0;
}
.company_operate span{
	float:left;
	margin:0 3px;
}
/* 添加公司 */



.map{
	width:100%;
	margin:15px 0 20px 0;
	min-width:915px;
}
.map img{
	width:100%;
}
/* 提交按钮的位置 */
.company_submit{
	float:right;
}
