/**
 * Created by chenglong.wang@yoho.cn on 2015/3/13.
 */


//color
$color-base: #000;
$color-background: #fff;

//font
$font-color: #000;
$font-size: 62.5%;
$font-default: "STHeiti","Helvetica","Arial";

//layout
$layout-width: 450px;